[submodule "Prerequisites/enroll"]
	path = Prerequisites/enroll
	url = git@github.com:AmarildoGrembi/enroll.git
[submodule "Prerequisites/airdrop"]
	path = Prerequisites/airdrop
	url = git@github.com:AmarildoGrembi/airdrop.git
[submodule "Prep/anchor-vault-q3"]
	path = Prep/anchor-vault-q3
	url = git@github.com:AmarildoGrembi/anchor-vault-q3.git
[submodule "Week1/solana-starter"]
	path = Week1/solana-starter
	url = git@github.com:AmarildoGrembi/solana-starter.git
[submodule "Week2/vault"]
	path = Week2/vault
	url = git@github.com:AmarildoGrembi/vault.git
[submodule "Capstone/gamefi-collect-marketplace"]
	path = Capstone/gamefi-collect-marketplace
	url = git@github.com:parikshitlfj12/gamefi-collect-marketplace.git
[submodule "Week2/escrow"]
	path = Week2/escrow
	url = git@github.com:AmarildoGrembi/escrow.git
